/* Global Styling */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    background-color: rgb(205, 205, 190);
}

/* Button */

button {
    margin: 0 auto;
    display: block;
    margin-top: 50px;
    background-color: rgb(40, 40, 71);
    color: white;
    padding: 5px 100px;
    border: none;
    margin-bottom: 10px;
}

img {
    display: none;
    margin: 0 auto;
    width: 600px;
    height: 400px;
    object-fit: cover;

}

button:hover + img {
    display: block;
}